# This file uses YAML syntax.
# For more about Google style guides check https://google.github.io/styleguide/cppguide.html
---
# Inherit the official Google C++ Style Guide as the foundation.
BasedOnStyle: Google

# Sorts #includes automatically. Essential for large projects.
SortIncludes: true

Language: Cpp

---

Language: Proto
BasedOnStyle: Google
